{
    "branches": [
        "main", "pre-release"
    ],
    "plugins": [
        [
            "@semantic-release/commit-analyzer", {
                "preset": "conventionalcommits",
                "releaseRules": [
                    {"type": "improve", "release": "patch"},
                    {"type": "release", "release": "major"}
                ]
            }
        ],    
        [
            "@semantic-release/release-notes-generator",
            {
                "preset": "conventionalcommits",
                "presetConfig": {
                    "types": [
                        {"type": "feat", "section": "Features"},
                        {"type": "fix", "section": "Bug Fixes"},
                        {"type": "chore", "hidden": true},
                        {"type": "docs", "hidden": false, "section": "Documentation"},
                        {"type": "style", "hidden": true},
                        {"type": "refactor", "hidden": true},
                        {"type": "perf", "hidden": true},
                        {"type": "test", "hidden": true},
                        {"type": "improve", "hidden": false, "section": "Improvements"},
                        {"type": "release", "hidden": true}
                    ]
                }
            }
        ],
        [
            "@semantic-release/changelog",
            {
                "changelogFile": "CHANGELOG.md"
            }
        ],
        [
            "@semantic-release/git",
            {
                "assets": [
                    "CHANGELOG.md"
                ]
            }
        ],
        "@semantic-release/github"
    ]
}
