{
    "branches": [
        "main", "pre-release"
    ],
    "plugins": [
        [
            "@semantic-release/commit-analyzer", {
                "preset": "conventionalcommits"
            }
        ],
        [
            "@semantic-release/release-notes-generator",
            {
                "preset": "conventionalcommits",
                "presetConfig": {
                    "types": [
                        {"type": "feat", "section": "Features"},
                        {"type": "fix", "section": "Bug Fixes"},
                        {"type": "chore", "hidden": false, "section": "Autres"},
                        {"type": "docs", "hidden": false, "section": "Documentation"},
                        {"type": "style", "hidden": false, "section": "Autres"},
                        {"type": "refactor", "hidden": true, "section": "Breaking changes"},
                        {"type": "perf", "hidden": false, "section": "Autres"},
                        {"type": "test", "hidden": false, "section": "Autres"}
                    ]
                }
            }
        ],
        [
            "@semantic-release/changelog",
            {
                "changelogFile": "CHANGELOG.md"
            }
        ],
        [
            "@semantic-release/git",
            {
                "assets": [
                    "CHANGELOG.md"
                ]
            }
        ],
        "@semantic-release/github"
    ]
}
