<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>FranceConnect</title>
    <link href="connect.standalone.css" rel="stylesheet" />
</head>

<body style="margin: 20px; padding: 0;">
    <h3>Bouton FranceConnect</h3>
    <div class="fr-mb-6v">
        <button class="fr-connect" id="connect-1">
            <span class="fr-connect__login">S’identifier avec</span>
            <span class="fr-connect__brand">FranceConnect</span>
        </button>
        <p>
            <a href="https://franceconnect.gouv.fr/" id="connect-link-2" target="_blank" rel="noopener" title="Qu’est-ce que FranceConnect ? - nouvelle fenêtre">Qu’est-ce que FranceConnect ?</a>
        </p>
    </div>
    <h3>Bouton FranceConnect+</h3>
    <div class="fr-mb-6v">
        <button class="fr-connect fr-connect--plus" id="connect-3">
            <span class="fr-connect__login">S’identifier avec</span>
            <span class="fr-connect__brand">FranceConnect</span>
        </button>
        <p>
            <a href="https://franceconnect.gouv.fr/france-connect-plus" id="connect-link-4" target="_blank" rel="noopener" title="Qu’est-ce que FranceConnect+ ? - nouvelle fenêtre">Qu’est-ce que FranceConnect+ ?</a>
        </p>
    </div>
</body>

</html>
